# Padrões do Visual Studio
*.suo
*.user
*.sln.doc
.vs/

# Arquivos de build
[Bb]in/
[Oo]bj/

# Arquivos do sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini

# Arquivos específicos do projeto (já existentes)
ProjetoBanco.ConsoleApp/obj
ProjetoBanco.ConsoleApp/bin

ProjetoBanco.Core/obj
ProjetoBanco.Core/bin

ProjetoBanco.Tests/obj
ProjetoBanco.Tests/bin

ProjetoBanco.Infrastructure/obj
ProjetoBanco.Infrastructure/bin

ProjetoBanco.Application/bin
ProjetoBanco.Application/obj

DetalhamentoProjeto.tldr
Propostas.txt

.env